* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
}

header {
    width: 100%;
    padding-left: 10px;
    flex-shrink: 0;
    height: 220px;
    h2 {
        text-align: center;
        line-height: 50px;
        font-size: 30px;
    }
}

.header_top {
    width: 100%;
    height: 150px;
    .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-wrapper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                width: 100%;
                height: 100%;
                ul {
                    display: flex;
                    li {
                        flex: 1;
                        padding: 0 10px;
                        img {
                            width: 100%;
                            height: 100px;
                        }
                        p {
                            width: 100%;
                            height: 30px;
                            font-size: 20px;
                            color: #ccc;
                            line-height: 30px;
                            background: #fff;
                            border-radius: 6px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

section {
    flex: 1;
    overflow: hidden;
    >h2 {
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
    }
    .content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        ul {
            width: 100%;
            li {
                width: 100%;
                height: 130px;
                display: flex;
                padding: 0 20px;
                margin: 10px 0;
                .right {
                    width: 100px;
                    margin-left: 10px;
                    img {
                        width: 100%
                    }
                }
                .left {
                    flex: 1;
                    h2 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 20px;
                        color: #ccc;
                        line-height: 50px;
                    }
                    span {
                        font-size: 18px;
                        color: #ccc;
                    }
                }
            }
        }
    }
}